/* main-content */
.center {
  display: flex;
  justify-content: center;
  text-align: center;
}
.font {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: whitesmoke;
}
.font2 {
  font-family: "Bebas Neue", sans-serif;
  color: white;
}
table,
tr,
td,
th {
  border: 3px solid;
  border-collapse: collapse;
  padding: 5px;
}
th {
  background-color: rgba(0, 0, 0, 0.614);
}
tr:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.096);
}
tr:hover {
  background-color: rgba(255, 255, 255, 0.753);
}
img {
  border: 5px solid rgb(53, 52, 52);
  box-shadow: 20px 10px 10px rgba(0, 0, 0, 0.338);
}
.bg {
  background-image: url("garage.png");
  background-size: 50%;
}

header {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.694);
  border: 2px solid black;
  background-color: grey;
  display: flex;
}

.info-left {
    color: rgb(255, 255, 255);
    text-align: left;
    width: 30;
    font-size: 15px;
    margin-right: auto; 
    margin-left:30px;
    margin-top: 10px;
}

.info-right {
    color: rgb(255, 255, 255);
    text-align: right;
    width: 30%;
    font-size: 10px;
    margin-left: auto;
    margin-right: 30px;
    
}

.info-center {
    color: rgb(255, 255, 255);
    font-family: "Bebas Neue", sans-serif;
    text-align: center;
    width: 100%;
    padding-top: 5px;
    border-top: 1px solid rgb(255, 255, 255);
}

.main-footer { 
    display: flex;
    justify-content: center;
}

footer{
    background-color: grey;
}
nav{
  width: 300px;
  margin-left: auto;
  margin-top: 25px;
  margin-bottom: 20px;
}
a{
  float: left;
  display: block;
  background-color: grey;
  color: rgba(0, 0, 0, 0.587);
  padding: 4px;
  font-size: 20px;
}

a:hover{
  background-color: rgba(221, 221, 227, 0.285);
}

.pricing {
  background-color: whitesmoke; 
  border: 5px solid black; 
  border-radius: 20px;
  width: 200px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px;
}
li{
  list-style: none;
  text-align: left;
}
.about{
  background-color: grey;
  border: 2px solid black;
  
}
button{
  background-color: greenyellow;
  border-radius: 10px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 20px;
  margin-bottom: 10px;
}
button:hover{
  background-color: rgba(0, 0, 0, 0.203);
}

footer {
  background-image: linear-gradient(rgb(158, 151, 142), rgba(0, 0, 0, 0.571));
}